.topBox {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.topBox span{
  width: 100px;
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.inputBox {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
}

.inputBox input {
  width: 70%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: none;
  padding: 0px 20px;
  font-size: 1rem;
  margin-right: 10px;
}

.inputBox input::placeholder {
  color: #FEC3A6;
}

.inputBox .hidden{
  visibility: hidden;
}

.inputBox input:focus {
  outline: none;
}

.inputBox button {
  color: #FEC3A6;
  background-color: white;
  border-radius: 15px;
}

.inputBox button:hover {
  color: #FF928B;
}

.rotate i{
  transform: rotate( 45deg );
}
