input{
    width: calc(50% - 110px);
    height: 530px;
    border: none;
    border-radius: 10px;
    background-color: none;
    padding: 0px 20px;
    font-size: 1.25rem;
}

input:focus{
    outline: none;
}

.enterButton{
    background-color: white;
}

.enterButton:hover{
    color: #e77c00;
}