.update, .remove {
  width: 30px;
  height: 30px;
  background-color: transparent;
}

.update {
  color: var(--color-4);;
}

.remove{
  color: var(--color-5);;
}

.update:hover, .remove:hover {
  filter: brightness(130%);
}